<a href="https://colab.research.google.com/github/AlessandroXavierOcasion/OOP-1-1/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [11]:
class Birds:
  def __init__(self,birds_name):
    self.birds_name = birds_name
  def flying_birds(self):
    print(f"{self.birds_name}flies above the sky")
  def non_flying_birds(self):
    print(f"{self.birds_name} is the national bird of Australia")

vulture = Birds("Griffor Vulture")
crane = Birds("Commong Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffor Vultureflies above the sky
Commong Craneflies above the sky
Emu is the national bird of Australia

In [20]:
class foo:
  def __init__(self, a, b):
    self.a = a
    self.b = b
  def add(self):
    return self.a+self.b
object_foo =foo(3,49)
object_foo.add()
object_foo.__a = 6
object_foo.__b = 9
object_foo.add()

52

In [25]:
class Counter:
  def __init__(self):
    self.__current = 0
  def increment(self):
    self.__current += 1
  def value(self):
    return self.__current
  def reset(self):
    self.__current = 0

number = Counter()
number.__current = 3

number.increment()
number.increment()
number.increment()


print(number.value())

3

INHERITANCE

In [28]:
class Person:
  def __init__(self,firstname,surname):
    self.firstname = firstname
    self.surname = surname

  def fullname(self):
    print(self.firstname,self.surname)

person = Person("Xavier","Ocasion")
person.fullname()

class Engineer(Person):
  pass

person2 = Engineer("Engr.","Xavier")
person2.fullname()

Xavier Ocasion
Engr. Xavier

POLYMORPHISM

In [35]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side * self.side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side * self.side * 0.433

obj1 = Square(8)
print(obj1.area())

obj2 = EquilateralTriangle(9)
print(obj2.area())

64
35.073